<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="../HTML/style.css"/>
    <title>Groupie</title>
</head>
<body>
  <div class="grid-container">
    {{range .}}
    <div class="artist-card">
        
      <a href="./artist?id={{.ID}}"><img class="artist-image" src="{{.Image}}" alt="Artist Image" ></a>
        <h2 class="artist-name">{{.Name}}</h2>
      </div>
    {{end}}
  </div>
</body>
</html>